font_files/*
*.png
.DS_Store
*/.DS_Store
*/.DS_Store
__pycache__/*
lib/__pycache__/*
temp
result/log
.python-version
result
data
result/*
data/*
instance.sh
*.swp
*.pyc
nohup.out
*.h5
*.back
lib/*.back
